body{
    background-color:#1b1b1f;
    color:#e4e1e6;
}

.header{
    background-color: #001551;
    text-align: center;
    background-image: url(banner2.png);
    font-size: 28px;
    color: gray;
    min-height: 300px;
    
}       

/*The colors will chage, this is only a test*/
.subtitle{
    background-color:#42465974 ;
    color:#dee1f9;
    font-size: 30px;
    font-weight: lighter;
    
}

.navBar{
    background-color:#424659;
    color:#dee1f9;
    font-size: 20px;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

#nav{
    padding: 0px 0px 0px 1210px;
}

th{font-weight: 500;}


.logo{
    
    background-color: white;
}

.mid-sect{
    
    margin-bottom: 50px;
    padding-bottom: 150px;
}
.tabla{
    
    padding: 0px 400px 0px 400px;
    text-align: center;
    border-top: solid 1px white;

}

.t-interact{
    
    background-color: #00458d;
    color:#d6e3ff;
    border: solid 2px;
    margin:  0px 150px;
    padding: 0px 10px 0px 10px;
    border: solid 1px;
}

.descripcion{
    
    padding-left: 100px;
    padding-right: 100px;
} 

li{
    text-align: center;
}
ul{
    
    background-color: #161b2c;
    color: #dee1f9; 
    margin: 0px;  
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    list-style-type: none; 
}
.navbar_link{
    color:#d6e3ff;
    align-items: center;
    justify-content: center;
}

li{
    padding: 15px 0px 15px 0px;
    text-align: left;
}

#parrafo{
    
    margin: 0px;
    padding: 0px;
    font-weight: lighter;
    text-align: center;
    
}

.up{
    
    font-size: 25px;
    font-weight: 400;
    margin: 50px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}   
.menu-elementos{ /*THIS IS WITHOUT USE SO FAR*/
    
    background-color: aqua;
}
