.header{
    background-color: gray;
    margin-top: 20px;
    
}

/*The colors will chage, this is only a test*/
.subtitle{
    background-color: tan;
    color:rgb(38, 35, 35)
}

body{
    background-color: rgb(38, 35, 35);
    color: white;
}

.logo{

background-color: white;
}
.t-interact{
    background-color: tan;
    color: black;
}

.menu-interactivo{
    background-color: rgb(109, 108, 108);
    margin-right: 1100px;
    
}  
.menu-elementos{
    background-color: aqua;
}